{$ZEALOT_DOMAIN}:80, {$ZEALOT_DOMAIN}:443 {
  redir 301 {
    if {scheme} is http
    / https://{host}{uri}
  }

  log {
    output stdout
  }

  # ssl
  tls {$ZEALOT_CERT_EMAIL}

  # serve assets of rails
  root * /app/public

  reverse_proxy http://zealot:3000
}
